* {
  animation: fade-in 0.3s ease-out;
}

html {
  scroll-behavior: smooth;
}

img {
  object-fit: contain;
  height: 300px;
}

.header-img {
  height: 550px;
  background-image: linear-gradient(
                    rgba(20, 20, 20, .4),
                    rgba(20, 20, 20, .4)),
                    url(../images/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
